body{
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
}
h1{    
    font-weight: 500;
    font-size: 50px;
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
    margin-top: 20px;
    padding-top: 10px;
}
.title{
    color:palevioletred;
}
.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.left-side{
    width: 40%;
}
.right-side img {
    width: 450px;
    margin-bottom: 50px;
    padding-bottom: 20px;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,purple);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.focus{
    font-size: 20px;
    font-weight: 400;
}