body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.border{    
    font-weight: 700;
    font-size: 50px;
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
    margin-top: 20px;
    padding-top: 10px;
    margin-left: 2%;
    padding-left: 2%;
}
.color{
    color:palevioletred;
}
.top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.left-side{
    width: 40%;
    margin-top: 20px;
}
.right-side img {
    width: 500px;
    height: 600px;
    margin-left: 10%;
    margin-bottom: 50px;
    padding-bottom: 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,purple);
    padding: 10px 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 700;
}
.focus{
    font-size: 20px;
    font-weight: 700;
}
/*end of section 1 here*/
/*start of section 2 here*/
.heading{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.parent {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
  }
  .all-columns{
    display: flex;
    justify-content: space-around;
  }
  .column {
    width: 300px;
    border-radius: 5px;
    box-shadow: 4px 4px 12px grey;
  }
  .photo img {
    width: 50%;
  }
  .second-section {
    padding: 10px;
  }
  .description {
    text-align: left;
  }
  .pink{
      background-color: pink;
  }
  .peach{
      background-color: peachpuff;
  }
  .skyblue{
      background-color: skyblue;
  }
/* end of section 2 here*/

/*start of section three here*/
  .third{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    height: 400px;
    margin-top: 50px;
    padding-bottom: 20px;
    background-image: url("images/shape-4.png");
    background-repeat: no-repeat;
}
.half-width img{
    width: 450px;
    height: 350px;
    margin-left: 10%;
    
}
.half-width{
    width:50%;
    margin-left: 12%;
   
}
.uppercase{
    font-size: 40px;
    font-weight: bolder;
}
.text{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.third-half{
    width: 60%;
    margin-top: 30px;
    margin-left: 15%;   
}
.third-half img{
    width: 450px;
    height: 350px;
    margin-left: 30%;
}
/*end of section three here*/

/*start of section 4 here*/
.learn{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
/*end of fourth section*/
/*start footer here*/
.footer-content {
    margin-top: 50px;
    background-color: black;
    margin: 20px;
    padding: 20px;
    text-align: center;
    text-decoration: white;
    color: white;
    font-size: 15px;
}
/*end footer here*/